/* Applying background color */
body {
  background-color: azure;
  margin: 0;
  font-family: verdana, sans-serif;
}

/* Header section */
.headersdiv {
  text-align: center;
}
h1 {
  font-size: 36pt;
  color: seagreen;
}
h3 {
  font-size: 26pt;
}
h5 {
  font-size: 20pt;
}

/* Body text */
.bodydiv {
  font-size: 20pt;
}

/* Profile picture */
#Mypic {
  display: block;
  margin: 20px auto;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  height: 300px;
  width: 300px;
}
.Mypicdescription {
  text-align: center;
  margin-top: 10px;
}

/* Experiments */
.experiment1,
.experiment2 {
  height: 50%;
  width: 49%;
  text-align: left;
  border: solid 1px ghostwhite;
  border-radius: 10px;
  background-color: lavender;
}
.experiment1 {
  float: left;
}
.experiment2 {
  float: right;
}

/* Haiku block */
.haiku {
  text-align: center;
  color: black;
  background-color: lavender;
  border-radius: 10px;
